$check-bg-url: url("https://shiina-mahiru.cn/sub/touristassistant/download/check_bg.jpg");
$login-bg-url: url("https://shiina-mahiru.cn/sub/touristassistant/download/login_bg.png");
$my-bg-url: url("https://shiina-mahiru.cn/sub/touristassistant/download/user_bg.png");
$diy-color-primary: #0066d5;
$div-color-primary-dark: #8fcdeb;
$div-color-white: #f5f1e8;
$div-color-gray: #656565;
